.dark{
    background-color: black;
    color: white;
}
.light
{
    background-color: white;
    color: black;
}
button{
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    border-radius: 29px;
}